@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: logoAnimation 5s forwards;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('/images/concrete_seamless.png'), linear-gradient(#f1f1f1, #f1f1f1);
}

header {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_links a {
    color: #0B04FF;
}

/* .nav_links .nav_item a:hover, .nav_links .nav_item a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
} */

.nav_links a:visited {
    color: #0B04FF;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 450px;
    display: flex;
    flex-direction: column;
}


.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex: 0 0 100%;
    max-width: 450px;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.gallery img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    header {    
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pricing {
        flex-direction: row;
    }

    .card {
        flex: 0 0 275px;
        flex-direction: column;
    }

    body > header:first-of-type {
        position: fixed;
        top: 0;
        width: 100%;
    }

    main {
        margin-top: 91.1px;
    }

}